<!DOCTYPE html>
<html>
  <head>
    <title>Register/Sign In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<h1> Here's where you will register</h1>
  </body>
</html>
