<!DOCTYPE html>
<html>
  <head>
    <title>Register/Sign In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<h1> Here's where you will register</h1>

  	<form method="POST" action="/user/login" id="loginForm">
  		<div class="formfield">
  			<input type="text" id="username" name="username"> 
  		</div>
  		<div class="formfield">
  			<input type="password" id="username" name="password"> 
  		</div>
  		<input class="submitbutton" type="submit"></input>
  	</form>
  </body>
</html>
