<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Here's where the User lands upon successful entry without any quotes</h1>
    <h2> Welcome <% user %> </h2> 
    <% quote %>
  </body>
</html>

