
<!DOCTYPE html>
<html>
  <head>
    <title>Dually Quoted Register </title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  </head>
  <body>

    <h1> Welcome to Dually Quoted</h1>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1>Register to Create Your Collection</h1>
        <fieldset>
        <form method="POST" action="/user/register" id="loginForm">
          <div class="formfield">
            <div class="input-group">
              <input id="inputText" type="text" class="form-control" name="username" placeholder="Username" aria-describedby="sizing-addon1">
            </div>
          </div>
          <br>
          <div class="formfield">
            <div class="input-group">
              <input id="inputText" type="password" class="form-control" name="password" placeholder="Password" aria-describedby="sizing-addon1">
            </div>
          </div>
         <br>
          <input class="submitbutton" type="submit" value="Inspire Me!"></input>
       </form>
       </fieldset>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row" id="spacer">
     <div class="col-md-4"></div>
     <div class="col-md-4"></div>
     <div class="col-md-4"></div>
    </div>

  </body>
</html>
