<!DOCTYPE html>
<html>
  <head>
    <title>Select a Mood</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/selectQ.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>

    <h1>Dually Quoted</h1>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/quotes/list">Home</a></li>
            <li><a href="/quotes/create">Create Your Own</a></li>
            <li><a href="/quotes/selectByMood">Let Us Pick a Quote for You</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/logout" >Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8"> </div>
      <div class="col-md-2"> </div>
    </div>

    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-8" id="selectFormDiv">

        <form method="POST" action="/quotes/selectMood" id="quoteForm">

          <h3> How would you like to feel ?</h3>
          <br>
          <div class="row"> 
            <div class="col-md-3"></div>
            <div class="col-md-3"> 
              <input type="radio" name="mood" class="qOpts" value="Hopeful">Hopeful <br>
              <input type="radio" name="mood" class="qOpts" value="Awe">In Awe <br>
              <input type="radio" name="mood" class="qOpts" value="Happiness">Happiness <br>
            </div>
            <div class="col-md-3"> 
              <input type="radio" name="mood" class="qOpts" value="Loved">Loved <br>
              <input type="radio" name="mood" class="qOpts" value="Inspired">Inspired <br>
              <input type="radio" name="mood" class="qOpts" value="Encouraged">Encouraged <br>
            </div>
            <div class="col-md-3"></div>
          </div>
        <div class="row" id="bottomOfForm"> 
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
              <input class="submitButton" type="submit"></input>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
       </form>

      </div>
      <div class="col-md-2"> </div>
    </div>

    <div class="row">
      <div class="col-md-12"> </div>
    </div>

  </body>
</html>
