/*#FEFCE0 color for div filter on bg image
CSS for the register page ONLY
*/

body {
  background: url("/images/BGimgs/RegisterBG.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}


form#loginForm {
	text-align: center;
}

.formfield {
	margin: 0 auto !important;
}

#loginForm {
  margin: 0 auto;
}

.input-group {
  margin: 0 auto;
}

#spacer {
 height: 300px;
}
